*{
	padding:0;
	margin:0;
}

header{
	width:100%;
	height:15%;
	background-color: aqua;

}

header h1, header h3{
	width:100%;
	text-align:center;
}

header h3{
	padding-top:5px;
}

header nav{
	padding: 15px 10px;
	border:1px solid black;
	width:25%;
	text-align:center;
	margin:5px auto;
}
header nav a{
	padding: 5px 5%;
}

header nav a:visited { 
	color:black; 
}

header img{
	width:40px;
	height:40px;
	float:left;
	cursor: pointer;
}

#cart_div{
	width:200px;
	height:60px;
	position:absolute;
	top:1%;
	left:93%;
}

/* FIN DU STYLE DU HEADER */

/* STYLE D'INDEX */

#index_contenu{
	display:grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: 100%;
	width:100%;
	height:800px;
}

#index_categories{
	grid-column: 1/2;
	grid-row:1/2;
	border:1px solid black;
}

#index_articles{
	grid-column: 2/3;
	grid-row:1/2;
	border:1px solid black;
}

#index_search{
	width:98%;
	height:20px;
	border-radius:20px;
	padding:5px;
	margin-top:5px;
}

.categoryInList{
	float:left;
	width:100%;
	text-decoration: none;
	cursor: pointer;
	padding:5px;
	color:black; 
}

.categoryInList:visited { 
	color:black; 
}

.articleInList{
	width:12%;
	height:25%;
	border: 1px solid black;
	float:left;
	margin:2.25%;
}
/* FIN DU STYLE DE INDEX */


#bodyNoAccount{
	width: 960px;
	text-align:center;
	margin:auto;
}
#notConnected{
	margin: 20px;
}
#loginNoAccount{
	margin:auto;
	margin-top: 30px;
	border-style: solid;
	width:400px;
	padding-bottom:30px;
	border-color: aqua;
}
#loginNoAccount input{
	padding:3px;
}
#emailNoAccount{
	padding-left: 3px;
	text-align: left;
	position: relative;
	width:100%
}
#emailNoAccount input{
	position: absolute;
	right:5px;
	width:70%;
}
#pwdNoAccount{
	padding-left: 3px;
	text-align: left;
	position: relative;
	width:100%;

}
#pwdNoAccount input{
	position: absolute;
	right:5px;
	width:70%;
}
#createAccountA{
	color:blue;
}
#createAccountA:hover{
	color:aqua;

}
#createAccount{
	margin-bottom:70px;
}
#backNoAccount{
	margin-top:100px;
	padding:5px;
}
#outsideSquare{
	padding-top:40px;
	margin:auto;
	margin-top: 40px;
	text-align:center;
	border-style: solid;
	border-color: aqua;
	width:850px;
	height:600px;
}
#outsideSquare p{
	position: relative;
	padding: 20px;	
	width:60%;
	margin:auto;
}
#sendcomment{
	padding:2px;
	margin:10px;
}


